sife/test.py
sife/encryption/
sife/__pycache__
sife/.vscode
sife/node_modules/
sife/sife.egg-info
sife/venv
venv/
__pycache__
sife/data/passwords.db.enc
sife/data/backup.hdn.enc
sife/data/password_backup.xlsx.enc
sife/data/backup.hdn.gz.enc
sife/data/password_backup.xlsx.gz.enc
sife/data/backup.hdn.zip.enc
sife/data/password_backup.xlsx.zip.enc
sife/data/hash