<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Setup</title>
</head>
<body>
    <form method="POST">
        <h1>Sife Setup</h1>
        <h3>WARNING: If you have an existing database, this will erase all data.</h3>
        <br>
        <h3>WARNING: DO NOT FORGET your master password. If you forget the password, you will be unable to retrieve the data.</h3>
        <label for="MasterPassword">Master Password: </label>
        <input type="password" placeholder="Master Password" id="MasterPassword" name="master_password">
        <br>

    </form>
</body>
</html>